[submodule "dependencies/nanogui"]
	path = dependencies/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "dependencies/fontstash"]
	path = dependencies/fontstash
	url = https://github.com/memononen/fontstash.git
